/* --------------Header and navigation-------------- */
header {
  background-color: #000000;
  padding: 0.25rem; /* Reduced padding */
  text-align: center; /* Center align the content */
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center; /* Center the list */
  padding: 0; /* Remove default padding */
}

nav a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
  padding: 0.5rem 1rem; /* Adjusted padding */
  font-size: 0.75rem;
  background-color: #333; /* Example background color for the pill */
  border-radius: 50px; /* Rounded corners for the pill shape */
  margin: 0 0.25rem; /* Spacing between the pills */
}

nav a:hover {
  color: #f5a623;
  background-color: #555; /* Slightly darker background on hover */
}

.nav-icon {
  height: 60px; /* Adjust the height as needed */
  width: auto; /* Maintain the aspect ratio */
  
  align-self: center; /* Align the icon vertically */
  float: left;
}

/* Media query for desktop view */
@media (min-width: 768px) {
  header {
    padding: 0.5rem; /* Increased padding for desktop */
  }

  nav ul {
    justify-content: space-around; /* Spread items out more */
  }

  nav a {
    padding: 0.5rem 1.5rem; /* Larger padding for desktop */
    font-size: 0.9rem; /* Larger font size for desktop */
  }
}



/* --------------Main Website Layout------------------- */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #ffffff;
  background-color: #1d1d1d;
  margin: 0;
  padding: 0;
}

#services {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}

h1 {
  color: #ffa500; /* Orange color for main title */
  text-align: center;
  margin-bottom: 20px;
}

.service-category h2 {
  color: #ffa500; /* Orange color for category titles */
  text-align: center; /* Centers the category titles */
  margin-top: 30px;
}

.service h3 {
  color: #ffa500; /* Orange color for service titles */
  text-align: center; /* Centers the service titles */
}

.service {
  background-color: #222222;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  text-align: center; /* Centers the service descriptions */
}


/* --------------Footer-------------- */
footer {
  margin-top: auto;
  width: 100%;
  text-align: center;
  padding: 0.5rem 0; /* Reduced padding */
  font-size: 0.8rem; /* Smaller font size */
}


/* --------------All Other Components-------------- */

  /* --------------This section for notifications-------------- */
  .site-notification {
    font-size: 12px;
    text-align: center;
    color: #ff0000; /* Red color for notification */
    margin-top: 20px; /* Adjust margin-top as needed */
  }

  /* --------------Who Am I Table-------------- */
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
  }

  table th,
  table td {
    padding: 12px 15px;
  }

  table tr {
    border-bottom: 1px solid #dddddd;
  }

  table th {
    background-color: #222222;
    color: #ffa500;
    text-align: left;
  }

  table td {
    background-color: #121212;
    color: #ffffff;
  }

  table tr:nth-of-type(even) {
    background-color: #1a1a1a;
  }

  table tr:last-of-type {
    border-bottom: 2px solid #222222;
  }

  /* --------------Contact Form-------------- */
form {
  max-width: 400px;
  margin: 0 auto;
}

input[type="text"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #333;
  background-color: #222;
  color: #ffffff;
}

input[type="submit"] {
  background-color: #f5a623;
  color: #111;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #e69100;
}